
{% extends "layout/base.twig" %}



{% block content %}

    <div class="row">

    <div class="col-md-6 offset-md-3">
    
    <div class="article-post">
        <div class="headline-area">
        <h1 class="title">{{post.title}}</h1>
        <p class="excerpt">How Ghost allows you to turn anonymous readers into an audience of active subscribers, so you know what's working and what isn't.</p>
        </div>
        <div class="date">
            <div class="profile-img">
                <a href={{post.author.link}}><img src="{{post.author.avatar({size: 150})}}"/></a>
            </div>
            <div class="profile-date">
                    <p class="author">{{post.author.name}}</p>
                    {{post.date('F m, Y')}}
            </div>
        </div>
        <div class="featured-img">
            <img src={{post.thumbnail.src}} class="img-fluid"/>
        </div>
        <div class="content">
            {{post.content}}
        </div>

        <div class="authorSection">
            <h2>About the Author</h2>
            <p>{{post.author.description}}</p>
        </div>

    </div>

    </div>

    <div class="col-md-6 offset-md-3 moreCats">
        <div class="title">
            <h2>More from {{post.category()}} </h2>
        </div>
        <div class="row">
            {% for catItem in catArticles %}
                <div class="col-md-4 col-sm-12">
                    <div class="articleWidget">
                        {% if catItem.thumbnail.src %}
                        <div class="img">
                            <img src="{{catItem.thumbnail.src}}"/>
                        </div>
                        {% else %}
                            <div class="img blackBox">

                            </div>
                        {% endif %}
                        <div class="title">
                            <h1>{{catItem.title}}</h1>
                            <p class="date">{{catItem.date('F m, Y')}}</p>
                        </div>
                        <div class="excerpt">
                            {{catItem.preview.length(15).read_more(" ")}}
                        </div>
                        <a href="{{catItem.link}}" class="readMore">Read More </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    

    </div>
    </div>

{% endblock %}